@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}

body {
  font-family: "Nunito", sans-serif;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-color: rgb(0, 0, 255);
  min-height: 550px;
  height: 100vh;
  display: flex;
  display: -webkit-flex; /* to support safari */
  flex-direction: column;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: currentColor;
}
a:hover {
  color: currentColor;
  text-decoration: none;
}
nav a:hover {
  color: #fd5949;
  text-decoration: none;
}
ul {
  list-style: none;
  display: flex;
  margin: 0rem;
  padding: 0rem;
}
.fa-times {
  color: #f00;
}
ul li {
  text-transform: capitalize;
  color: #fff;
  font-size: 1rem;
  margin-right: 1rem;
  padding: 0rem;
}
ul li:last-child {
  margin-right: 0rem;
}

.twitter:hover {
  color: #49a1f2;
}
.facebook:hover {
  color: #3b569c;
}
.google:hover {
  color: #d64c3e;
}
.instagram:hover {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flex {
  display: flex;
  display: -webkit-flex; /* to support safari */
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* align-content: center; */
}
.flex-col {
  flex-direction: column;
}
.flex-sp-around {
  justify-content: space-around;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

header,
footer {
  padding: 1rem;
  color: #fff;
  font-size: 1rem;
}
section {
  color: #fff;
  font-size: 1rem;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

#logo {
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center;
}
#logo #logoImage {
  color: #fff;
  font-size: 10rem;
  margin-right: 2rem;
}
#logo h1 {
  /* font-family: 'Gooseberry Juice', cursive; */
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bolder;
}
#logo p {
  font-size: 1.2rem;
}

#userBox {
  background: #fff;
  border-radius: 1%;
  text-align: center;
  padding: 1rem 2rem;
}
#userBox h3 {
  padding: 1rem 2rem;
  text-transform: capitalize;
}
#userBox #socialSignup {
  background: #ff625f;
  color: #fff;
  position: relative;
  bottom: 2.5rem;
  padding: 1rem 3rem;
  border-radius: 3%;
  box-shadow: 0px 0px 10px #777;
}
#userBox #formDiv span {
  color: #555;
  margin-right: 1rem;
}
#formDiv h3 {
  color: #333;
  padding: 0;
}
#userBox form input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: none;
  border-bottom: #ddd 2px solid;
  background: none;
  color: #222;
}
#userBox form input[name="name"] {
  text-transform: capitalize;
}
#userBox form input:focus {
  border-bottom: #4758c0 2px solid;
}
#userBox form input[id="subBut"] {
  text-transform: uppercase;
  background: none;
  font-weight: bold;
  color: #4758c0;
  font-size: 1rem;
  border: none;
  padding: 0.5rem;
  transition: transform 80ms ease-in;
}
#userBox form input[id="subBut"]:disabled {
  color: #a8abc5;
}
#userBox form input[id="subBut"]:active {
  transform: scale(1.1);
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

footer ul li {
  text-transform: uppercase;
}
footer p {
  padding: 0;
  margin: 0;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

@media screen and (max-width: 700px) {
  #logo {
    display: none;
  }

  footer,
  header {
    justify-content: center;
  }
  footer div,
  footer nav,
  header div,
  header nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
